@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text: #0f0f0f;
    --bg: #f2f3f5;
    --search-bg: #dfe0e2;
    --selected-bg: rgba(0, 0, 0, 0.1);
    --bottom-bg: #212121;
    --bottom-height: 0rem;
}

.color {
    color: var(--text);
    background-color: var(--bg);
}

#textarea {
    width: 100%;
    height: calc(100% - var(--bottom-height));
    font-size: 1.3rem;
    outline: none;
    border: none;
    resize: none;
    margin: 0;
    padding: 1rem;
    background-color: inherit;
    color: inherit;
}

body {
    margin: 0;
    font-family: "Noto Sans" !important;
}

.hidden {
    display: none !important;
}

#cmdP {
    position: fixed;
    z-index: 2;
    width: 30%;
    max-height: 16rem;
    background-color: inherit;
    color: inherit;

    border-style: none;
    border-radius: 10px;

    display: grid;
    grid-auto-rows: min-content;

    overflow-y: hidden;
}

#cmdP::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.color-cmdP {
    color: var(--text);
    background: var(--search-bg)
}

#cmdP-input {
    width: 100%;
    height: 3.5rem;

    padding: 12px 20px;
    font-size: 1rem;
    border-style: none;
    border-radius: 0.5rem;
    outline: transparent;
}

#notes-text {
    font-size: 0.8rem;
    margin: 0.5rem auto;
    user-select: none;
    width: 95%;
}

#notes {
    height: max-content;
    max-height: 10rem;
    overflow-y: auto;
    scrollbar-width: none;
    margin: 0 auto;
    width: 95%;
}

.note {
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 2.8rem;
    border-radius: 5px;
}

.note-creation-date {
    margin: 0 0.7rem;
    font-size: 0.7rem;
    filter: brightness(0.9);
}

.note-name {
    font-size: 0.8rem;
    margin: 0 0.7rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.color-selected {
    background-color: var(--selected-bg);
}

.color-bottom {
    background-color: var(--bottom-bg);
}

#bottom {

    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#current-note-name {
    font-family: "Noto Sans";
    color: inherit;
    font-size: 1rem;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    background: transparent;
    margin-left: 0.5rem;
}

#details {
    font-family: "Noto Sans";
    font-size: 1rem;
    margin-right: 0.5rem;
}

.height-zero {
    height: 0 !important;
    display: none !important;
}

#current-note-name:active,
#current-note-name:focus {
    border: none;
    outline: none;
}

.hide-scrollbar {
    scrollbar-width: none;
}

.small-width {
    padding: 1rem 20% !important;
}

#settings {
    width: 50%;
    height: 60%;

    color: inherit;

    border: none;
    border-radius: 10px;
    background-color: inherit;

    display: grid;
    grid-template-columns: 30% 70%;
}

#settings::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.settings-list-value {
    color: inherit;
    text-align: center;
    margin: 0.1rem 0;
    padding: 0.8rem 0;
}

.settings-list-value:hover {
    background-color: var(--selected-bg);
    cursor: pointer;
    border-radius: 5px;
}

#settings-list {
    height: 100%;
    padding-right: 0.8rem;
}

#settings-list-content {
    height: 100%;
    border-left-style: solid;
    border-left-color: var(--selected-bg);
    border-left-width: 1px;

    padding-left: calc(0.8rem + 13%);
    padding-right: 13%;
}

.settings-list-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.switch {
    --button-width: 3rem;
    --button-height: 1.4rem;
    --toggle-diameter: calc(var(--button-height) - 0.4rem);
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --color-grey: #cccccc;
    --color-blue: #4296f4;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.2s all ease-in-out;

    cursor: pointer;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: var(--bg);
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    transition: 0.2s all ease-in-out;
}

.checkbox:checked+.slider {
    background-color: var(--color-blue);
}

.checkbox:checked+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.checkbox {
    display: none;
}

