@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text: #0f0f0f;
    --bg: #f2f3f5;
    --search-bg: #dfe0e2;
    --selected-bg: rgba(0, 0, 0, 0.1);
    --bottom-bg: #212121;
    --bottom-height: 0rem;
}

body {
    font-family: "Noto Sans" !important;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.color {
    color: var(--text);
    background-color: var(--bg);
}

.color-cmdP {
    color: var(--text);
    background: var(--search-bg)
}

.color-selected {
    background-color: var(--selected-bg);
}

.color-bottom {
    background-color: var(--bottom-bg);
}

#textarea {
    height: calc(100% - var(--bottom-height));
}

.hidden {
    display: none !important;
}

.height-zero {
    height: 0 !important;
    display: none !important;
}

.hide-scrollbar {
    scrollbar-width: none;
}

.small-width {
    padding: 1rem 20% !important;
}

.settings-list-value {
    color: inherit;
    text-align: center;
    margin: 0.1rem 0;
    padding: 0.8rem 0;
}

.settings-list-value:hover {
    background-color: var(--selected-bg);
    cursor: pointer;
    border-radius: 5px;
}

#settings-list-content {

    border-left-style: solid;
    border-left-color: var(--selected-bg);
    border-left-width: 1px;

    padding-left: calc(0.8rem + 13%);

}

.settings-list-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
